[submodule "packages/fn-component-gen"]
	path = packages/fn-component-gen
#	url = https://github.com/RanxinStart/fn-component-gen.git
	url = https://gitee.com/RanxinStart/fn-component-gen.git
[submodule "packages/rcli"]
	path = packages/rcli
#	url = https://github.com/RanxinStart/fn-component-gen.git
	url = https://gitee.com/RanxinStart/rcli.git
